<div class="center jumbotron">
  <h1>DoctorOffice Scheduling</h1>
  <p>Manage your appointments here!</p>
  <br />
  <p><%= link_to "I'm a Doctor", doctors_path, class: 'btn btn-primary btn-lg' %>
  <%= link_to "I'm a Patient", patients_path, class: 'btn btn-info btn-lg' %></p>
  </div>
</div>
